<%= form_for @user do |f| %>
	<div class='container'>
		<div class='row'>
			<div class='col-md-6'>
				<div class='form_group'>
					<%= f.label :name, class: 'control-label' %>
					<%= f.text_field :name, class: 'form-control', disabled: true %>
				</div>
				<div class='form_group'>
					<%= f.label :email, class: 'control-label' %>
					<%= f.text_field :email, class: 'form-control', disabled: true %>
				</div>
				<div class='form_group'>
					<%= f.label :admin, class: 'control-label' %>
					<%= f.check_box :admin, class: 'form-control', disabled: (@user.id == current_user.id) %>
				</div>
				<div class='form_group'>
					<%= f.submit 'Submit', class: 'btn btn-success' %>
				</div>
			</div>
			<div class='col-md-6'>
				<h4>Change Password</h4>
				<div class='form_group'>
					<label class='control-label'>New Password <short>(Minimum 6 characters)</short></label>
					<input class='form-control' type='text' id='new-password' />
					<br>
					<button class="btn btn-warning" type="button" id="btn-change-pw" data-user="<%= @user.id %>" disabled='disabled' >Change Password</button>
				</div>
			</div>
		</div>
	</div>
<% end %>
