<div class='container'>
	<div class='row'>
		<div class='col-md-3'>
			<%= render partial: 'clues/last_winners' %>
		</div>
		<div class='col-md-6'>
			<div class='text-center'>
				<%= image_tag('jeopardy.jpg', id: 'j-logo') %>
			</div>
			<br>
		</div>
		<div class='col-md-3'>
			<%= render partial: 'clues/scoreboard' %>
		</div>
	</div>
	<div class='row'>
		<div class='col-md-12' >
			<table class='table'>
				<% @clues.order(seq: :desc).each do |clue| %>
					<tr>
						<td>
							<%= render partial: 'clues/show', locals: {clue: clue} %>
							<% if !current_user.nil? and !current_user.clue_answered(clue.id) and current_user.current_clue_of_week.id == clue.id %>
								<br>
								<% if !current_user.clue_wagered(clue.id) %>
									<%= render partial: 'answers/new_form', locals: {clue: clue} %>
								<% else %>
									<%= render partial: 'answers/edit_form', locals: {clue: clue} %>
								<% end %>
							<% end %>
						</td>
					</tr>
				<% end %>
			</table>
		</div>
	</div>
</div>
