<div class='container'>
	<div class=-'row'>
		<div class='col-md-12' >
			<h1 class='text-center'>This. Is. JEOPARDY!</h1>
		</div>
	</div>
	<div class='row'>
		<div class='col-md-4 col-md-offset-4'>
			<table class='table'>
				<tr>
					<th>Player</th>
					<th>Score</th>
				</tr>
				<% if !current_user.nil? and !@scoreClue.nil? %>
					<% @scoreUsers.sort_by{ |u| [-@scoreClue.user_current_score(u.id), u.name] }.each do |user| %>
						<tr>
							<td><%= user.name %></td>
							<td><%= @scoreClue.user_current_score(user.id) %></td>
						</tr>
					<% end %>
				<% end %>
			</table>
		</div>
	</div>
	<div class='row'>
		<div class='col-md-12' >
			<table class='table'>
				<% @clues.order(seq: :desc).each do |clue| %>
					<tr>
						<td>
							<%= render partial: 'clues/show', locals: {clue: clue} %>
							<% if !current_user.nil? and !current_user.clue_answered(clue.id) and current_user.current_clue_of_week.id == clue.id %>
								<br>
								<% if !current_user.clue_wagered(clue.id) %>
									<%= render partial: 'answers/new_form', locals: {clue: clue} %>
								<% else %>
									<%= render partial: 'answers/edit_form', locals: {clue: clue} %>
								<% end %>
							<% end %>
						</td>
					</tr>
				<% end %>
			</table>
		</div>
	</div>
</div>
