<%= form_for([@clue, @clue.answers.build]) do |f| %>
	<div class='row'>
		<div class='form_group'>
			<div class='col-sm-2'><%= f.label :user, class: 'control-label' %></div>
			<div class='col-sm-4'><%= f.text_field :user, class: 'form-control' %></div>
		</div>
	</div>
	<div class='row'>
		<div class='form_group'>
			<div class='col-sm-2'><%= f.label :response, class: 'control-label' %></div>
			<div class='col-sm-4'><%= f.text_field :response, class: 'form-control' %></div>
		</div>
	</div>
	<div class='row'>
		<div class='form_group'>
			<div class='col-sm-2'><%= f.label :wager, class: 'control-label' %></div>
			<div class='col-sm-4'><%= f.text_field :wager, class: 'form-control' %></div>
		</div>
	</div>
	<div class='row'>
		<div class='col-sm-12'>
			<div class='form_group' style='padding-top: 10px'>
				<%= f.submit 'Submit' %>
			</div>
		</div>
	</div>
<% end %>