<%= form_for @clue do |f| %>
	<div class='row'>
		<div class='form_group'>
			<div class='col-sm-12'>
				<% if @clue.errors.any? %>
					<div id="error_explanation">
						<h2 style='color: red'>
							<%= pluralize(@clue.errors.count, "error") %> prohibited
							this clue from being saved:
						</h2>
						<ul style='color: red'>
							<% @clue.errors.full_messages.each do |msg| %>
								<li><%= msg %></li>
							<% end %>
						</ul>
					</div>
				<% end %>
			</div>
		</div>
	</div>
	<div class='row'>
		<div class='form_group'>
			<div class='col-sm-1'><%= f.label :category, class: 'control-label' %></div>
			<div class='col-sm-11'><%= f.text_field :category, class: 'form-control' %></div>
		</div>
	</div>
	<div class='row'>
		<div class='form_group'>
			<div class='col-sm-1'><%= f.label :value, class: 'control-label' %></div>
			<div class='col-sm-11'><%= f.text_field :value, class: 'form-control' %></div>
		</div>
	</div>
	<div class='row'>
		<div class='form_group'>
			<div class='col-sm-1'><%= f.label :text, class: 'control-label' %></div>
			<div class='col-sm-11'><%= f.text_area :text, class: 'form-control' %></div>
		</div>
	</div>
	<div class='row'>
		<div class='form_group'>
			<div class='col-sm-1'><%= f.label :final, class: 'control-label' %></div>
			<div class='col-sm-11'><%= f.check_box :final, class: 'form-control' %></div>
		</div>
	</div>
	<div class='row'>
		<div class='form_group'>
			<div class='col-sm-1'><%= f.label :week, class: 'control-label' %></div>
			<div class='col-sm-11'><%= f.date_field :week, value: @clue.week? ? @clue.week : Date.today, class: 'form-control' %></div>
		</div>
	</div>
	<div class='row'>
		<div class='form_group'>
			<div class='col-sm-1'><%= f.label :seq, class: 'control-label' %></div>
			<div class='col-sm-11'><%= f.text_field :seq, class: 'form-control' %></div>
		</div>
	</div>
	<div class='row'>
		<div class='col-sm-12'>
			<div class='form_group' style='padding-top: 10px'>
				<%= f.submit %>
			</div>
		</div>
	</div>
<% end %>