<div class='container-fluid'>
	<div class='row'>
		<div class='col-md-5'>
			<table class='table table-bordered'>
				<tr><td>
					<div class='clearfix'>
						<div class='pull-left'>
							<h3 class='j-header'><%= link_to clue.category, edit_clue_path(id: clue, day: @day) %></h3>
						</div>
						<div class='pull-right'>
							<h3 class='j-score'><%= clue.value_label %></h3>
						</div>
					</div>
				</td></tr>
				<tr><td>
					<p class='j-clue'>
						<%= clue.text %>
					</p>
					<% if !clue.image.nil? and clue.image != '' %>
						<img class='j-clue-img' src="<%= clue.image %>" alt="<%= clue.image %>" />
					<% end %>
				</td></tr>
				<tr><td>
					<h6 class='text-center'><%= clue.correct_answer %></h6>
				</td></tr>
			</table>
		</div>
		<div class='col-md-7'>
			<table class='table table-bordered'>
				<tr>
					<th>Player</th>
					<th>Response</th>
					<th>Score</th>
					<% if clue.final? %>
						<th>Wager</th>
						<th>Final Score</th>
					<% end %>
					<th></th>
					<th></th>
					<th></th>
				</tr>
				<% clue.answers.sort_by{ |a| [-clue.user_current_score(a.user.id), a.user.name] }.each do |answer| %>
					<tr id="<%= answer.id %>">
						<td class="answer-user" id="<%= answer.user_id %>"><%= answer.user.name %></td>
						<td><div id='answer-response' class="<%= case answer.status when 1 then 'answer-correct' when -1 then 'answer-incorrect' else 'answer-pending' end %>">
							<%= answer.response %>
						</div></td>
						<% if clue.final? %>
							<td class='previous_score j-score text-right'>$<%= clue.user_previous_score(answer.user.id) %></td>
							<td class='j-score text-right'>$<%= answer.wager %></td>
							<td class='current_score j-score text-right'>$<%= clue.user_current_score(answer.user.id) %></td>
						<% else %>
							<td class='current_score j-score text-right'>$<%= clue.user_current_score(answer.user.id) %></td>
						<% end %>
						<td>
							<div class='text-center'>
								<button class="btn btn_correct" type="button" data-clue="<%= clue.id %>" data-answer="<%= answer.id %>">Correct</button>
								<br>
								<button class="btn btn_incorrect" type="button" data-clue="<%= clue.id %>" data-answer="<%= answer.id %>">Incorrect</button>
							</div>
						</td>
						<td><div class='text-center'><%= link_to "Edit", edit_clue_answer_path(clue_id: answer.clue_id, id: answer.id, day: @day), class: 'btn btn-info' %></div></td>
						<td><div class='text-center'><button class="btn btn-danger btn_delete" type="button" data-clue="<%= clue.id %>" data-answer="<%= answer.id %>">Delete</button></div></td>
						<!--<td><button class="btn btn_incorrect" type="button" data-clue="<%= clue.id %>" data-answer="<%= answer.id %>">Incorrect</button></td>
						<td><%= link_to "Edit", edit_clue_answer_path(clue_id: answer.clue_id, id: answer.id, day: @day), class: 'btn btn-info' %></td>
						<td><button class="btn btn-danger btn_delete" type="button" data-clue="<%= clue.id %>" data-answer="<%= answer.id %>">Delete</button></td> -->
					</tr>
				<% end %>
			</table>
		</div>
	</div>
</div>
