<div class='container-fluid'>
	<div class='row'>
		<div class='col-md-6'>
			<table class='table table-bordered'>
				<tr><td>
					<div class='clearfix'>
						<div class='pull-left'>
							<h3 class='j-header'><%= clue.category %></h3>
						</div>
						<div class='pull-right'>
							<h3 class='j-score'><%= clue.value_label %></h3>
						</div>
					</div>
				</td></tr>
				<tr><td>
					<p class='j-clue'>
						<% if !current_user.nil? and @userCurrentClue.seq >= clue.seq and (!clue.final? or current_user.clue_wagered(clue.id)) %>
							<%= clue.text %>
						<% end %>
					</p>
				</td></tr>
				<tr><td>
					<% if !current_user.nil? and (current_user.clue_answered(clue.id) or @userCurrentClue.seq > clue.seq) %>
						<h6 class='text-center'><%= clue.correct_answer %></h6>
					<% end %>
				</td></tr>
			</table>
		</div>
		<div class='col-md-6'>
			<table class='table table-bordered'>
				<tr>
					<th class='col-player'>Player</th>
					<th>Response</th>
					<% if clue.final? %>
						<th class='col-wager'>Wager</th>
					<% end %>
				</tr>
				<% if !current_user.nil? and (current_user.clue_answered(clue.id) or @userCurrentClue.seq > clue.seq) %>
					<%= render partial: 'clues/clue_answers', locals: {clue: clue} %>
				<% end %>
			</table>
		</div>
	</div>
</div>
