<div class='container'>
	<div class='row'>
		<div class='col-xs-6'>
			<h3><%= clue.category + ' ' + clue.value.to_s %></h3>
			<p>
				<%= clue.text %>
			</p>
		</div>
		<div class='col-xs-6'>
			<table class='table'>
				<tr>
					<th>Player</th>
					<th>Response</th>
					<th>Score</th>
					<% if clue.final? %>
						<th>Wager</th>
						<th>Final Score</th>
					<% end %>
					<th></th>
				</tr>
				<% clue.answers.each do |answer| %>
					<tr>
						<td><%= answer.user %></td>
						<td><%= answer.response %></td>
						<% if clue.final? %>
							<td><%= answer.user_previous_score %></td>
							<td><%= answer.wager %></td>
							<td><%= answer.user_current_score %></td>
						<% else %>
							<td><%= answer.user_current_score %></td>
						<% end %>
						<td><%= button_to 'Correct', {:controller => :answers, :action => :correct, params: {clue: clue.id, answer: answer.id}, remote: true, type: "script"}, {class: 'btn_correct'} %></td>
					</tr>
				<% end %>
			</table>
		</div>
	</div>
</div>